@font-face {
  font-family: 'Ubuntu';
  src: url(/fonts/Ubuntu/Ubuntu-Regular.ttf) format('truetype');
}

$font-family-base: 'Ubuntu', Helvetica, Arial, Lucida, sans-serif;
$font-size-base: 32px;
$font-size-sm: 24px;
